doctype
html(lang="ru")
  include ./assets/templates/head
  body
    .app
      include ./assets/templates/header
    .content.m-t-10
      .container
        .row
          .col-8.news-list
            include ./assets/templates/main-slider
            include ./assets/templates/second-slider
            -for (var i = 0; i < 6; i++ )
              include ./assets/templates/news-preview
            .paginavi.m-t-10.p-t-10.p-b-10.p-l-15
              .page.active.m-r-5
                span 1
              .page.m-r-5
                span 2
              .page.m-r-5
                span 3
              .page.m-r-5
                span 4
              .page.m-r-5
                span 5
              .page.m-r-5
                span 6
              .page.m-r-5
                span 7
              .page.m-r-5
                span 8
              .page.m-r-5
                span 9
              .page.m-r-5
                span 10
              .page.m-r-5.points
                span ...
              .page
                span 12
          .col-4
            include ./assets/templates/sidebar
      include ./assets/templates/footer