doctype
html(lang="ru")
  include ./assets/templates/head
  body
    .app
      include ./assets/templates/header
      .content.m-t-10
        .container
          .row
            .col-8
              include ./assets/templates/main-slider
              .full-news
                .full-news-wrapper
                  h2.title Как отключить автоматический запуск приложения Фото при подключении Iphone к Mac
                  include ./assets/templates/news-info
                  p OS X El Capitan предложила пользователям Mac множество новых функций, в числе которых обновленное приложение Фото. Программа предусматривает более удобный способ организации медиатеки для владельцев iOS-устройств, а также удобные инструменты для обработки фотографий.
                  .photo-wrapper
                    img(src="http://www.macdigger.ru/wp-content/uploads/2015/04/mediatek-2.jpg")
                  p Фото пришла на смену просмотрщику iPhoto и профессиональному пакету Aperture. Она обладает «плоским», простым и интуитивно понятным интерфейсом. В интерфейсе, состоящем из четырех вкладок – Фото, Общие, Альбомы, Проекты – легко разберутся те, кто уже имеет опыт работы с Фото в iOS.
                  p Главный недостаток фирменной программы Apple состоит в том, что она открывается при любой попытке подключить iPhone к компьютеру. Даже если пользователю нужно просто зарядить аккумулятор iPhone, компьютер непременно откроет фотобиблиотеку и предложит синхронизировать снимки. Простого тумблера для выключения надоедливой опции в Apple не предусмотрели. О том, как отключить автозапуск Фото на Mac, далее в нашей инструкции.
                  .photo-wrapper
                    img(src="http://www.macdigger.ru/wp-content/uploads/2016/01/no-2.jpg")
                  h3.subtitle Как отключить автоматический запуск Фото при подключении iPhone к Mac
                  .step
                    strong.m-r-5 Шаг 1:
                    span Откройте папку Утилиты и найдите приложение Терминал. Запустите его
                  blockquote.blockquote ddefaults -currentHost write com.apple.ImageCapture disableHotPlug -bool YES
                  .step
                    strong.m-r-5 Шаг 2:
                    span Откройте папку Утилиты и найдите приложение Терминал. Запустите его
                include ./assets/templates/tags


              .comments-section
                h2.title Комментарии
                  span.m-l-5 (0)
                .add-comments
                  .user-wrapper
                    .user
                      .fa.fa-user
                  .add-section
                    textarea.add-comment-textarea(placeholder="Текст комментария")
                    .smiles
                    .login-section
                      .socials
                        p войти с помощью
                        a.social(href="#")
                          img(src="./assets/images/social/vk.png")
                        a.social(href="#")
                          img(src="./assets/images/social/ok.png")
                        a.social(href="#")
                          img(src="./assets/images/social/fb.png")
                        a.social(href="#")
                          img(src="./assets/images/social/mail.png")
                      .incognito
                        form
                          p или отправить анонимно
                          input.comments-input(type="text" placeholder="Ваше имя")
                          input.comments-input.m-l-10(type="mail" placeholder="Ваш email")
                          button.btn.btn-blue.pull-right Добавить
                  .comment
                    .avatar
                      img(src="http://lorempixel.com/45/45/people/")
                    .comment-content
                      .user-name.inline.m-r-10 User Name
                      .date.inline 28 мая 2015, в 19:30
                      a.answer.m-l-30(href="#") Ответить
                      .comment-description elements are used to act as buttons – triggering in-page functionality, rather than navigating to another document or section within th

                  .comment.feedback
                    .avatar
                      img(src="http://lorempixel.com/45/45/people/")
                    .comment-content
                      .user-name.inline.m-r-10 User Name
                      .date.inline 28 мая 2015, в 19:30
                      a.answer.m-l-30(href="#") Ответить
                      .comment-description elements are used to act as buttons – triggering in-page functionality, rather than navigating to another document or section within th
              .btn-news.m-t-10.m-b-10
                a.btn-more.p-t-10.p-b-10.p-l-40.p-r-40(href="#")
                  span.m-r-5
                  span.m-r-5
                  span.m-r-5
              .recomend-desc.p-t-15.p-r-15.p-b-15.p-l-15
                h2.m-t-0.m-b-15.p-l-15 Рекомендуем
                .container-fluid
                  .row
                    -for (var i = 0; i < 3; i++ )
                      .col-4
                        .img-recomend.p-t-5.p-r-5.p-b-5.p-l-5
                          img(src="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/iphone/iphone-iphone5s-colors.jpg")
                        a.black.recomend-content(href="#") elements are used to act as buttons – triggering in-page functionality, rather than navigating
              .content-text.m-t-15.p-t-10.p-r-10.p-b-10.p-l-10.m-b-20 Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения существенных финансовых и административных условий. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание новых предложений.
            .col-4
              include ./assets/templates/sidebar
        include ./assets/templates/footer