$fonts: ('Proxima Nova Bold', 'Proxima Nova Light', 'Proxima Nova Regular');

@each $font in $fonts {
  @font-face {
    font-family: $font;
    src: url('../fonts/#{$font}.otf');
  }
}

$container-width: 1072;
$cols: (1,2,3,4,5,6,7,8,9,10,11,12);

body {
  margin: 0;
  font-family: 'Proxima Nova Regular';
  min-width: $container-width + px;
  background-color: $body-grey;
}


$margins: (0, 5, 10, 15, 20, 25, 30, 40, 50, -10);

@each $margin in $margins {
  .m-t-#{$margin} {
    margin-top: #{$margin}px !important;
  }
  .m-b-#{$margin} {
    margin-bottom: #{$margin}px !important;
  }
  .m-l-#{$margin} {
    margin-left: #{$margin}px !important;
  }
  .m-r-#{$margin} {
    margin-right: #{$margin}px !important;
  }
}

// Padding helper classes

$paddings: (0, 5, 10, 15, 20, 25, 30, 40, 50, 100, -5, -10, -15, -20, -25, -30, -40, -50);

@each $padding in $paddings {
  .p-t-#{$padding} {
    padding-top: #{$padding}px !important;
  }
  .p-b-#{$padding} {
    padding-bottom: #{$padding}px !important;
  }
  .p-l-#{$padding} {
    padding-left: #{$padding}px !important;
  }
  .p-r-#{$padding} {
    padding-right: #{$padding}px !important;
  }
}

// Text-aligns

$aligns: (left, center, right);

@each $align in $aligns {
  .text-#{$align} {
    text-align: $align;
  }
}

// Font weights

$weights: (lighter, normal, bold);

@each $weight in $weights {
  .font-#{$weight} {
    font-weight: $weight;
  }
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

// Cursor

.pointer {
  cursor: pointer;
}

//div display

.inline {
  display: inline-block;
}

.container {
  width: $container-width + px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 15px;
  @each $col in $cols {
    .col-#{$col} {
      width:unquote(($container-width/(12/$col)) + px);
      padding: 0 15px;
      box-sizing: border-box;
      float: left;
    }
  }
}

.row {
  margin: 0 -15px 0 -15px;
  box-sizing: border-box;
  &:after, &:before {
    display: table;
    clear: both;
    content: " ";
  }
}

.container-fluid {
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;

  @each $col in $cols {
    .col-#{$col} {
      width:unquote((100/(12/$col)) + '%');
      padding: 0 15px;
      box-sizing: border-box;
      float: left;
    }
  }
}

a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

.clearfix {
  clear: both;
}

.blockquote {
  background-image: url("../images/qq.gif");
  background-repeat: no-repeat;
  padding: 15px 0 15px 50px;
  margin-left: 0;
  background-position-y: center;
}

.btn {
  display: inline-block;
  padding: 7px 15px;
  text-align: center;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: color 0.3s ease, background 0.3s ease, border 0.3s ease;

  &:active {
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    outline: none;
  }

  &:focus {
    outline: none;
  }

  &.btn-blue {
    background: $light-blue;
    color: $white;
    border: 1px solid $light-blue;

    &:active {
      background: $white;
      color: $light-blue;
    }
  }
}