.comments-section {
  background: $white;
  padding: 15px 10px;
  font-family: "Proxima Nova Light";

  .title {
    margin-top: 0;
  }

  .add-comments {
    display: block;
    .user-wrapper {
      display: inline-block;
      vertical-align: top;
    }
    .user {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      font-size: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      background: $blue;
    }
    .add-section {
      width: calc(100% - 75px);
      margin-left: 10px;
      display: inline-block;
      vertical-align: top;
      .add-comment-textarea {
        width: 100%;
        display: inline-block;
        padding: 6px 12px;
        box-sizing: border-box;
        height: 60px;
        border: 1px solid $light-grey-icon;
        border-radius: 5px 5px 0 0;
        resize: none;
        color: $grey;
        font-size: 14px;
        margin: 0;
        transition: box-shadow 0.3s ease;

        &:focus {
          outline: none;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px rgba(0, 0, 0, .6);
        }
      }

      .smiles {
        background: $smiles-grey;
        height: 35px;
        border-radius: 0 0 5px 5px;
        margin-top: -5px;
        border: 1px solid $smiles-grey;
      }

      .login-section {
        margin-top: 5px;

        p {
          margin: 0 0 5px 0;
        }
        .socials {
          display: inline-block;
          width: 130px;
          vertical-align: top;
          a.social {
            display: inline-block;
            vertical-align: top;
            width: 30px;
            margin-left: 2px;
            transition: opacity 0.3s ease;

            &:hover {
              opacity: 0.6;
            }
            img {
              width: 100%;
            }
          }
        }

        .incognito {
          margin-left: 10px;
          display: inline-block;
          vertical-align: top;
          width: calc(100% - 145px);
          .comments-input {
            display: inline-block;
            width: 150px;
            height: 30px;
            border: 1px solid $light-grey-icon;
            padding: 6px 12px;
            box-sizing: border-box;
            border-radius: 4px;
            transition: box-shadow 0.3s ease;
            color: $grey;

            &:focus {
              outline: none;
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px rgba(0, 0, 0, .6);
            }
          }
        }
      }
    }
    .comment {
      padding: 15px;

      &.feedback {
        margin-left: 40px;
      }
      .avatar {
        width: 45px;
        display: inline-block;
        vertical-align: top;
        img {
          width: 45px;
          border-radius: 5px;
        }
      }

      &:hover {
        background: $active-comment;
        .comment-content .answer {
          display: inline-block;
        }
      }

      .comment-content {
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
        width: calc(100% - 60px);

        .user-name {
          font-size: 14px;
          color: $black;
        }
        .date {
          color: $grey;
          font-size: 14px;
        }
        .answer {
          color: $blue;
          display: none;
          text-decoration: underline;
        }
        .comment-description {
          color: $grey;
        }
      }
    }
  }
}