.full-news {
  background: $white;
  margin-bottom: 20px;
  font-family: 'Proxima Nova Light';
  .title {
    margin-top: 0;
  }

  .full-news-wrapper {
    padding: 30px 20px;
  }

  .photo-wrapper {
    text-align: center;
    img {
      display: inline-block;
      max-width: 100%;
    }
  }

  p {
    margin: 15px 0;
  }
}

.btn-news {
  text-align: center;
  width: 100%;
  .btn-more {
    display: inline-block;
    background-color: $white;
    border-radius: 5px;
    border: 1px solid $border-grey;
    span {
      vertical-align: middle;
      background-color: $border-grey;
      display: inline-block;
      padding: 8px;
      border-radius: 50%;
    }
  }
}

.recomend-desc {
  background-color: $white;
  .img-recomend {
    width: 200px;
    height: 150px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .recomend-content {
    color: $grey;

  }
}

.content-text {
  background-color: $white;
  color: $light-grey;
  font-size: 13px;
  text-align: justify;
}