.k-header {
  width: 100%;
  height: 50px;
  background: $dark-grey;

  .header-items {
    height: 50px;

    .header-item {
      margin: 0 10px;
      position: relative;
      height: 30px;
      display: inline-block;
      vertical-align: middle;
      padding: 10px 0;

      &.with-img {
        a img {
          margin-top: 3px;
        }
      }

      a {
        display: inline-block;
        transition: opacity 0.3s ease;
        &:hover {
          opacity: 0.5;
        }
      }

      &:after {
        display: inline-block;
        height: 30px;
        width: 1px;
        content: '';
        background: $grey;
        right: -10px;
        position: absolute;
        top: 50%;
        margin-top: -15px;
      }

      &.without-right-border {
        &:after {
          display: none;
        }
      }
    }
  }

  .logo {
    width: 140px;
    display: inline-block;
    a {
      display: inline-block;
      img {
        max-width: 100%;
      }
    }
  }

  .social-icons {
    a {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .search {
    width: 250px;
    height: 30px;
    .search-icon {
      position: absolute;
      top: 50%;
      margin-top: -8px;
      right: 10px;
      color: $light-grey-icon;
    }

    .search-input {
      width: 100%;
      height: 100%;
      padding: 6px 30px 6px 12px;
      font-size:14px;
      background: $grey;
      color: $light-grey;
      box-sizing: border-box;
      border: none;
      border-radius: 3px;
      font-family: 'Proxima Nova Regular';
      position: relative;

      &:focus {
        outline: none;
      }

      &::-webkit-input-placeholder {
        color: $light-grey;
        font-family: 'Proxima Nova Bold';
      }
    }
  }
}