.owl-carousel.main-slider {
  height: 150px;
  .slide {
    height: 150px;
    margin: 0 2.5px;
    a {
      display: inline-block;
      position: relative;
      height: 100%;

      .img-wrapper {
        width: 100%;
        height: 100%;

        img {
          height: 100%;
          width: 100%;
          display: block;
          object-fit: cover;
        }
      }
      .slide-info {
        position: absolute;
        display: inline-block;
        color: $white;
        background: rgba(0, 0, 0, 0.7);
        right: 0;
        height: 70px;
        width: 100%;
        padding: 5px;
        font-size: 16px;
        box-sizing: border-box;
        bottom: 0;
        overflow: hidden;
      }
    }
  }

  .owl-controls {
    position: absolute;
    top: 50%;
    height: 0;
    width: 100%;
    margin-top: -17.5px;

    .owl-buttons {
      height: 0;
      width: 100%;

      .owl-prev, .owl-next {
        position: absolute;
        width: 35px;
        height: 35px;
        border: 2px solid $black;
        background: $white;
        border-radius: 50px;
        margin: 0;
        color: $black;
        padding: 0;
        font-size: 18px;
        opacity: 0.8;
        font-family: FontAwesome;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity 0.3s ease;

        &:hover {
          opacity: 1;
        }

      }

      .owl-prev {
        left: 2.5px;
        &:before {
          content: "\f053";
          margin-left: -2px;
          margin-top: 3px;
        }
      }
      .owl-next {
        right: 2.5px;
        &:before {
          content: "\f054";
          margin-left: 2px;
          margin-top: 3px;
        }
      }
    }
  }
}