.k-nav {
  height: 30px;
  background: $grey;

  .menu {
    padding: 0;
    list-style: none;
    margin: 0;

    &:after, &:before {
      display: table;
      content: '';
    }

    li {
      float: left;
      display: inline-block;
      box-sizing: border-box;

      a {
        display: block;
        padding: 5px 10px;
        color: $light-grey;
        transition: background 0.3s ease, color 0.3s ease;

        &:hover, &:focus, &:active {
          background: $light-grey;
          color: $grey;
        }
      }
    }
  }
}