.news-list {
  .news-wrapper {
    background-color: $white;
    .news-content {
      h2 {
        margin: 0;

        a {
          color: $black;
        }
      }
      .img-miniature {
        display: inline-block;
        width: 35%;
        vertical-align: top;
        img {
          text-align: center;
          width: 270px;
          height: auto;
        }
      }
      .content-preview {
        display: inline-block;
        width: 60%;
        vertical-align: top;
        .news-date {
          i {
            font-size: 20px;
            vertical-align: middle;
          }
          span {
            color: $grey;
            font-size: 13px;
          }
        }
      }
    }
  }
}

.paginavi {
  background-color: $news-footer;
  .page {
    line-height: 35px;
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    span {
      font-size: 20px;
    }
    &.active, &.points, &:hover {
      background-color: $border-grey;
    }
  }

}

.new-tags {
  background-color: $news-footer;
  border-bottom: 1px solid $border-grey;
  a {
    font-size: 13px;
    color: $grey;
  }
}