.baner-box {
  width: 100%;
  height: 200px;
  background-color: #000;
}
.news-desc {
  h3 {
    text-transform: uppercase;
    color: $dark-grey;
  }
  background-color: $white;
  .sidebar-news {
    border-top: 1px solid $body-grey;
    .img-news {
      vertical-align: top;
      display: inline-block;
      width: 30%;
      img {
        width: 100px;
        height: auto;
      }
    }
    .news-text {
      vertical-align: top;
      display: inline-block;
      width: 65%;
      a {
        font-size: 13px;
        color: $dark-grey;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}