$dark-grey: #313131;
$grey: #515151;
$light-grey: #CDCDCD;
$white: #fff;
$light-grey-icon: #E1E1E1;
$body-grey: #F5F5F5;
$news-footer: #EFEFEF;
$border-grey: #DBDBDB;
$black: #000;
$blue: #4B87C8;
$light-blue: #4897DF;
$comment-border-grey: #F5F6F7;
$smiles-grey: #F4F4F4;
$active-comment: #FAFAFA;


.black {
  color: $black;
}