header.k-header
  .container
    .header-items
      .pull-right.header-item.without-right-border.social-icons
        a.m-r-5(href="#")
          img(src="./assets/images/icon_v.png")
        a.m-r-5(href="#")
          img(src="./assets/images/icon_f.png")
        a.m-r-5(href="#")
          img(src="./assets/images/icon_y.png")
        a.m-r-5(href="#")
          img(src="./assets/images/icon_i.png")
        a.m-r-5(href="#")
          img(src="./assets/images/icon_g.png")
      .logo.header-item
        a(href="/")
          img(src='./assets/images/logo.png')
      .header-item.search
        input.search-input(type='text' placeholder='Search')
        .fa.fa-search.search-icon
      .header-item.with-img
        a(href="#")
          img(src="./assets/images/apple-store-icon.png")
      .header-item.without-right-border.with-img
        a(href="#")
          img(src="./assets/images/android-icon.png")
nav.k-nav
  .container
    ul.menu.pull-right
      li
        a(href="#") For Uploaders
      li
        a(href="#") Collect Leads
    ul.menu.pull-left
      li
        a(href="#") Home
      li
        a(href="#") Technology
      li
        a(href="#") Education
      li
        a(href="#") More Topics
    .clearfix