head
  meta( charset="utf-8" )
  title Kiev
  meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes")
  link(rel = "stylesheet" href="assets/css/assets.css")
  link(rel = "stylesheet" href="assets/css/app.css")
  script( type = "application/javascript"  src = "assets/js/assets.js")
  script( type = "application/javascript"  src = "assets/js/app.js")