#main-slider.owl-carousel.main-slider.m-b-25
  -for (var i = 0; i < 6; i++ )
    .slide
      a(href="#")
        .img-wrapper
          img(src="http://blog.technotesdesk.com/wp-content/uploads/2015/02/ASUS-Zenbook-.jpg")
        .slide-info MWC 2016: Asus показали новый ультрабук Zenbook, на котором предустановленно Elementary os