.news-wrapper.m-b-30
  .news-content.p-l-15.p-r-20.p-b-20
    h2.p-t-15.p-b-15
      a(href="#") Как установить светящееся яблоко на iPhone 6s и iPhone 6s Plus своими руками
    .img-miniature
      img(src="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/iphone/iphone-iphone5s-colors.jpg")
    .content-preview.p-l-10.p-r-10
      include news-info
      .text-previw.p-t-5 Разнообразный и богатый опыт сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что консультация с широким активом требуют определения и уточнения модели развития.
  include tags