.soc-slider
  h2 Новое на сайте
  #second-slider.owl-carousel.second-slider.m-b-25
    -for (var i = 0; i < 10; i++ )
      .slide
        a(href="#")
          .img-wrapper
            img(src="../assets/images/social/fb.png")