.baner-box
.news-desc.m-t-10
  h3.p-b-10.p-t-10.p-l-10.p-r-10.m-t-0.m-b-0 Популярное
  .sidebar-news.p-b-10.p-t-10.p-l-10.p-r-10
    .img-news
      img(src="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/iphone/iphone-iphone5s-colors.jpg")
    .news-text
      a(href="#") Таким образом реализация намеченных плановых заданий позволяет оценить значение системы обучения кадров
  .sidebar-news.p-b-10.p-t-10.p-l-10.p-r-10
    .img-news
      img(src="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/iphone/iphone-iphone5s-colors.jpg")
    .news-text
      a(href="#") Таким образом реализация намеченных плановых заданий позволяет оценить значение системы обучения кадров
  .sidebar-news.p-b-10.p-t-10.p-l-10.p-r-10
    .img-news
      img(src="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/iphone/iphone-iphone5s-colors.jpg")
    .news-text
      a(href="#") Таким образом реализация намеченных плановых заданий позволяет оценить значение системы обучения кадров
  .sidebar-news.p-b-10.p-t-10.p-l-10.p-r-10
    .img-news
      img(src="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/iphone/iphone-iphone5s-colors.jpg")
    .news-text
      a(href="#") Таким образом реализация намеченных плановых заданий позволяет оценить значение системы обучения кадров
.news-desc.m-t-10
  h3.p-b-10.p-t-10.p-l-10.p-r-10.m-t-0.m-b-0 Новости
  .sidebar-news.p-b-10.p-t-10.p-l-10.p-r-10
    .img-news
      img(src="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/iphone/iphone-iphone5s-colors.jpg")
    .news-text
      a(href="#") Таким образом реализация намеченных плановых заданий позволяет оценить значение системы обучения кадров
  .sidebar-news.p-b-10.p-t-10.p-l-10.p-r-10
    .img-news
      img(src="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/iphone/iphone-iphone5s-colors.jpg")
    .news-text
      a(href="#") Таким образом реализация намеченных плановых заданий позволяет оценить значение системы обучения кадров
  .sidebar-news.p-b-10.p-t-10.p-l-10.p-r-10
    .img-news
      img(src="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/iphone/iphone-iphone5s-colors.jpg")
    .news-text
      a(href="#") Таким образом реализация намеченных плановых заданий позволяет оценить значение системы обучения кадров
  .sidebar-news.p-b-10.p-t-10.p-l-10.p-r-10
    .img-news
      img(src="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/iphone/iphone-iphone5s-colors.jpg")
    .news-text
      a(href="#") Таким образом реализация намеченных плановых заданий позволяет оценить значение системы обучения кадров